@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira-Code";
  src: url("../public/fonts/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira-Code", monospace;
  font-family: "Inter", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
